@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --font-family: 'Google Sans';
}

body * {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode {
  height: 50%;
  background-color: rgb(247, 240, 228);
}

#output {
  height: 50%;
}

.blocklyText {
  fill: black !important;
  font: 400 16px var(--font-family) !important;
}

.blocklyToolboxDiv {
  background-color: #f9f9f9;
}

.blocklyToolboxDiv[layout="h"] .blocklyTreeSeparator {
  border-color: #aaaaaa;
}

.blocklyFlyoutButton {
  fill: rgb(226, 123, 123);
}

.blocklyFlyoutButton:hover {
  fill: rgb(235, 182, 182);
}

.blocklyFlyoutButtonShadow {
  fill: rgb(239, 83, 80);
}

.blocklyMainBackground {
  stroke: transparentx;
}